<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--component-scan 组件扫描器 找出类上的注解
        遇到注解之后 按照注解表示的功能, 去创建对象 给属性赋值-->

    <context:component-scan base-package="org.example.swei02" />

<!--    &lt;!&ndash;扫描多个包的三种方式&ndash;&gt;-->
<!--    &lt;!&ndash;1. 使用多次组件扫描器&ndash;&gt;-->
<!--    <context:component-scan base-package="org.example.swei02" />-->
<!--    <context:component-scan base-package="org.example.swei01" />-->

<!--    &lt;!&ndash;2. 使用父包&ndash;&gt;-->
<!--    <context:component-scan base-package="org.example" />-->

<!--    &lt;!&ndash;3. 使用分隔符 (; or ,)&ndash;&gt;-->
<!--    <context:component-scan base-package="org.example.swei02;org.example.swei01" />-->

    <!--这个配置是找到外部配置文件 并且读取其中的内容-->
    <context:property-placeholder location="config.properties" />
</beans>