<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swei.music.mapper.ResourceMapper">

    <select id="getResource" resultType="com.swei.music.model.Resource">
        select * from resource where type = 0
    </select>
    <select id="getResourceIdsByUserId" resultType="java.lang.Long">
        SELECT
            rr.resourceid
        FROM
            user_role ur
                INNER JOIN role_resource rr ON ur.roleid = rr.roleid
        WHERE
            ur.userid = #{id}
    </select>
</mapper>