<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--声明目标对象-->
    <bean id="someService" class="org.example.service.Impl.SomeServiceImpl" />

    <!--声明切面对象-->
<!--    <bean id="myAspect" class="org.example.handle.MyAspectBefore" />-->
<!--    <bean id="myAspect" class="org.example.handle.MyAspectAfterRet" />-->
<!--    <bean id="myAspect" class="org.example.handle.MyAspectAroud" />-->
<!--    <bean id="myAspect" class="org.example.handle.MyAspectThrow" />-->
    <bean id="myAspect" class="org.example.handle.MyAspectAfter" />

    <!--声明自动代理-->
    <!--
        声明自动代理生成器, 目的是创建目标对象的代理, 调用aspectj框架中的功能, 寻找spring容器
        中的素有目标对象, 把每个目标对象加入切面类中的功能, 生成代理
        这个代理对象时修改的内存中的目标对象, 这个目标对象就是代理对象
    -->
    <aop:aspectj-autoproxy />
</beans>