<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <!--listservlet-->
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/dept/list</url-pattern>
    </servlet-mapping>

    <!--详情servlet-->
    <servlet>
        <servlet-name>detail</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>detail</servlet-name>
        <url-pattern>/dept/detail</url-pattern>
    </servlet-mapping>

    <!--删除servlet-->
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/dept/delete</url-pattern>
    </servlet-mapping>

    <!--增加servlet-->
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/dept/add</url-pattern>
    </servlet-mapping>

    <!--编辑servlet-->
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/dept/edit</url-pattern>
    </servlet-mapping>

    <!--修改servlet-->
    <servlet>
        <servlet-name>modify</servlet-name>
        <servlet-class>com.powernode.oa.web.action.DeptModifyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>modify</servlet-name>
        <url-pattern>/dept/modify</url-pattern>
    </servlet-mapping>
</web-app>